@import "../../../@shared/style-variables.scss";

.add-user {

    .create-user-form {
        margin-top: 48px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        input[type=text],
        input[type=email],
        input[type=password] {
            @include basic-form-input;
            margin-bottom: 18px;
        }

        .checkbox {
            width: 320px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            input[type=checkbox] {
                width: 19px;
                height: 19px;
            }
        }

        .btn-create-user {
            @include basic-button;
            margin-top: 27px;
        }
    }
}