@import "../../../@shared/style-variables.scss";

.login {

    .logo {
        display: block;
        margin: 0 auto;
        margin-top: 87px;
        width: 116px;
        height: 116px;
    }

    .login-form {
        margin-top: 60px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .form-group {
            width: 80%;
            margin-bottom: 30px;

            input {
                @include basic-form-input;
            }
        }

        .btn-login {
            @include basic-button;
        }

        .error-msg {
            @include form-error-message;
        }
    }
}

@media (min-width: map-get($breakpoints, xs)) {
    .login {
        .login-form {
            .form-group {
                width: 320px;
            }
        }
    }
}