$primary-color: #00a6c0;
$secondary-color: #a5e65a;
$breakpoints: (xs: 576px, sm: 768px, md: 992px, lg: 1200px);

@mixin basic-button {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 182px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 14px 0;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    background-color: $primary-color;
    outline: none;
    transition: background-color .5s ease;
    cursor: pointer;

    &:focus,
    &:hover,
    &:active {
        background-color: $secondary-color;
    }
}

@mixin basic-form-input {
    display: block;
    width: 80%;
    font-size: 16px;
    font-size: 400;
    padding: 10px 0;
    color: $primary-color;
    padding-left: 14px;
    border: 2px solid $primary-color;
    border-radius: 10px;
    outline: none;

    &::-webkit-input-placeholder {
        font-size: 16px;
        font-weight: 400;
        color: rgba(#6a888c, 0.5);
    }

    @media (min-width: map-get($breakpoints, xs)) {
        width: 320px;
    }
}

@mixin tooltip($position) {
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;

    @if($position==left) {
        top: -14%;
        right: 125%;
        margin-right: 5px;
    }

    @if($position==right) {
        top: -14%;
        margin-left: 5px;
    }

    @if($position==top) {
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
    }

    @if($position==bottom) {
        top: 125%;
        left: 50%;
        margin-left: -60px;
    }


    &::after {
        content: "";
        position: absolute;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;

        @if($position==left) {
            top: 30%;
            left: 100%;
            transform: rotate(-90deg);
        }

        @if($position==right) {
            top: 30%;
            right: 100%;
            transform: rotate(90deg);
        }

        @if($position==top) {
            top: 100%;
            left: 50%;
        }

        @if($position==bottom) {
            left: 50%;
            bottom: 100%;
            transform: rotate(180deg);
        }
    }
}