@import "../../../@shared/style-variables.scss";

.edit-task {
    height: 100%;

    .edit-task-form {
        margin-top: 48px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        input[type=text],
        input[type=number],
        textarea {
            @include basic-form-input;
            margin-bottom: 18px;
        }

        .btn-edit-task {
            @include basic-button;
            margin-top: 27px;
        }
    }
}