@import "../../../@shared/style-variables.scss";

.register {

    .logo {
        display: block;
        margin: 0 auto;
        margin-top: 58px;
        width: 116px;
        height: 116px;
    }

    .register-form {
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .form-group {
            width: 80%;
            margin-bottom: 30px;

            input {
                @include basic-form-input;
            }
        }

        .btn-register {
            @include basic-button;
        }

        .error-msg {
            @include form-error-message;
        }
    }
}

@media (min-width: map-get($breakpoints, xs)) {
    .register {
        .register-form {
            .form-group {
                width: 320px;
            }
        }
    }
}