@import "../../../@shared/style-variables.scss";

.add-task {
    height: 100%;

    .create-task-form {
        margin-top: 48px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .form-group {
            width: 80%;
            margin-bottom: 30px;

            input,
            textarea {
                @include basic-form-input;
            }
        }

        .btn-create-task {
            @include basic-button;
        }

        .error-msg {
            @include form-error-message;
        }
    }
}

@media (min-width: map-get($breakpoints, xs)) {
    .add-task {
        .create-task-form {
            .form-group {
                width: 320px;
            }
        }
    }
}