@import "../../../@shared/style-variables.scss";

.edit-user {
    height: 100%;

    .edit-user-form {
        margin-top: 48px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .form-group {
            width: 80%;
            margin-bottom: 30px;

            input {
                @include basic-form-input;
            }
        }

        .checkbox {
            width: 320px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            input[type=checkbox] {
                width: 19px;
                height: 19px;
            }
        }

        .btn-edit-user {
            @include basic-button;
            margin-top: 30px;
        }

        .error-msg {
            @include form-error-message;
        }

        .request-err {
            @include form-error-message;
            position: relative;
            top: 15px;
        }
    }
}

@media (min-width: map-get($breakpoints, xs)) {
    .edit-user {
        .edit-user-form {
            .form-group {
                width: 320px;
            }
        }
    }
}