@import "../../@shared/style-variables.scss";

.layout {
    width: 100%;
    height: 100%;

    .topbar {
        position: relative;
        height: 48px;
        background-image: linear-gradient(to right, $primary-color, $secondary-color);
        display: flex;
        align-items: center;
        padding: 0px 22px;

        .action-icon,
        .add-new-user-btn {
            margin-top: 1px;
            width: 16px;
            color: white;
        }

        .screen-label {
            margin-left: 15px;
            font-size: 18px;
            color: white;
            text-transform: uppercase;
        }

        .add-new-user-btn {
            margin-left: auto;
        }
    }

    .sidebar {
        position: absolute;
        display: none;
        z-index: 1000;
        top: 48px;
        left: 0;
        width: 0px;
        height: 100%;
        background-color: white;

        &::before {
            content: '';
            position: fixed;
            z-index: 1000;
            margin-left: 250px;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $primary-color, $alpha: 0.12);
        }

        .menu-items {

            .item {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                padding: 22px 0;
                padding-left: 18px;
                border-bottom: 1px solid rgba($color: $primary-color, $alpha: 0.2);
                cursor: pointer;

                &:focus,
                &:hover,
                &:active link {
                    color: $secondary-color;
                }

                i {
                    width: 21px;
                    color: $secondary-color;
                }

                .link {
                    margin-left: 13px;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 700;
                    color: $primary-color;
                }
            }
        }
    }

    .content {
        position: relative;
        width: 100%;
        height: 100%;
    }
}