@import "../../@shared/style-variables.scss";

.layout {

    .topbar {
        position: relative;
        height: 48px;
        background-image: linear-gradient(to right, $primary-color, $secondary-color);
        display: flex;
        align-items: center;
        padding: 0px 22px;

        .action-icon,
        .add-new-user-btn {
            cursor: pointer;
            margin-top: 1px;
            width: 16px;
            color: white;
        }

        .screen-label {
            margin-left: 15px;
            font-size: 18px;
            color: white;
            text-transform: uppercase;
        }

        .add-new-user-btn {
            position: relative;
            margin-left: auto;

            &:hover .tooltip {
                visibility: visible;
                opacity: 1;
            }

            .tooltip {
                @include tooltip(left);
            }
        }
    }

    .sidebar {
        position: absolute;
        visibility: hidden;
        z-index: 1000;
        top: 48px;
        left: -251px;
        height: 100%;
        width: 250px;
        background-color: white;
        overflow: hidden;
        transition: left .3s ease;

        .menu-items {

            .item {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                padding: 22px 0;
                padding-left: 18px;
                border-bottom: 1px solid rgba($color: $primary-color, $alpha: 0.2);
                cursor: pointer;

                &:focus,
                &:hover,
                &:active link {
                    color: $secondary-color;
                }

                i {
                    width: 21px;
                    color: $secondary-color;
                }

                .link {
                    margin-left: 13px;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                    color: $primary-color;
                }
            }
        }
    }

    .sidebar-backdrop {
        position: absolute;
        visibility: hidden;
        z-index: 999;
        top: 48px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: black, $alpha: 0.3);
    }

    .content {
        padding-bottom: 20px;
    }
}